/*****
* General layout
******/
.block_assessments {
    border: 0 none !important;
    padding-top: 4px;
}
.block_assessments .card-title {
    display: none;
}
.block_assessments.block_with_controls .card-title {
    display: block;
}
.block_assessments .card-body {
    padding: 0 !important;
}
.block_assessments .block-controls {
    z-index: 1;
    position: relative;
}
.block_assessments h5 {
    margin-bottom: 0;
}
.block_assessments .schedule {
    display: flex;
}
.block_assessments .semester {
    width: 48%;
    margin-right: 2%;
}
.block_assessments table.assessments {
    width: 100%;
    margin-bottom: 15px;
}
.block_assessments table.assessments tr.assessment[data-eventorder="Past"] {
    
}
.block_assessments table.assessments td {
    font-size: 13px;
    width: 25%;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    line-height: 20px;
}
.block_assessments table.assessments td.classcode {
  width: 32%;
}
.block_assessments table.assessments td.date {
    width: 17%;
    font-size: 11px;
}
.block_assessments table.assessments td.title1 {
    width: 10%;
}
.block_assessments table.assessments td.title2 {
    width: 49%;
}
.block_assessments a.btn-print {
  position: absolute;
  right: 0;
  font-size: 20px;
}